* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main__layout {
    min-height: 100vh;

    .main__top {
        min-height: 35vh;
        max-height: 35vh;
        background-image: url(../images/bg-main-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .backCard {
            position: absolute;
            top: 15%;
            right: 5%;
            width: 75%;

            transition: all 300ms ease;

            img {
                width: 100%;

            }

            #cvv {
                color: aliceblue;
                position: absolute;
                right: 10%;
                bottom: 47%;
                font-weight: 600;
                font-size: 13px;
            }
        }

        .frontCard {
            width: 75%;
            position: absolute;
            bottom: -20%;
            left: 3%;
            transition: all 300ms ease;


            img {
                width: 100%;
                transition: all 300ms ease;
            }

            #logo-circ {
                position: absolute;
                left: 15px;
                top: 15px;
                width: 70px;
            }

            #cardNumber {
                position: absolute;
                left: 20px;
                bottom: 45px;
                color: aliceblue;
                letter-spacing: 2px;
                font-weight: 600;
                font-size: 20px;
                width: 100%;
            }

            #expDate {
                color: aliceblue;
                position: absolute;
                right: 15px;
                font-size: 12px;
                bottom: 20px;
                display: flex;
            }

            #cardName {
                position: absolute;
                color: aliceblue;
                font-size: 12px;
                left: 15px;
                bottom: 20px;
            }
        }
    }

    .main__bottom {
        padding-top: 60px;
        min-height: 65vh;
        max-height: 65vh;
        display: flex;
        align-items: center;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .topDiv {

                width: 90%;

                label {
                    color: #200A2F;
                    font-weight: 600;
                    font-size: 14px;
                    text-transform: uppercase;

                }

                input {
                    width: 100%;
                    padding: 13px 7px;
                    border-radius: 5px;
                    border: 1px solid rgba(0, 0, 0, 0.233);
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            .form__bottom {
                display: flex;
                flex-direction: column;
                width: 90%;

                .bottom__labels {
                    margin-bottom: 10px;
                    color: #200A2F;
                    font-weight: 600;
                    font-size: 14px;
                    text-transform: uppercase;
                    display: flex;
                    gap: 20px;
                }

                .bottom__inputs {


                    #cardMonth,
                    #cardYear {
                        width: 20%;
                        padding: 10px 7px;
                        border-radius: 5px;
                        border: 1px solid rgba(0, 0, 0, 0.233);
                        font-size: 20px;
                    }

                    #cardCvv {
                        width: 54%;
                        margin-left: 10px;
                        padding: 10px 7px;
                        border-radius: 5px;
                        font-size: 20px;
                        border: 1px solid rgba(0, 0, 0, 0.233);
                    }
                }
            }

            #submit {
                width: 90%;
                background-color: #200A2F;
                color: aliceblue;
                border: none;
                margin-top: 20px;
                padding: 15px 0;
                border-radius: 5px;
                font-size: 20px;
                transition: all 200ms ease-in;

                &:hover {
                    background-color: #3b1257;
                }
            }

        }

    }
}

.tofront {
    width: 75%;
    position: absolute;
    margin-bottom: 100px;
}

.toback {
    position: relative;
    top: 15%;
    right: 5%;
    width: 75%;

    transition: all 300ms ease;
}

//responsive
@media screen and (max-width:320px) {
    .main__layout .main__top .frontCard #cardNumber {
        position: absolute;
        left: 20px;
        bottom: 45px;
        color: aliceblue;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 15px;
        width: 100%;
    }

    .main__layout .main__bottom form .form__bottom .bottom__inputs #cardCvv {
        width: 53%;
        margin-left: 10px;
        padding: 10px 7px;
        border-radius: 5px;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.233);
    }
}

@media screen and (min-width:768px) {
    .main__layout {
        display: flex;
        flex-direction: row;
    }

    .main__layout .main__top {
        min-height: 100vh;
        max-height: 100vh;
        min-width: 45vw;
    }

    .main__layout .main__bottom {
        min-height: 100vh;
        max-height: 100vh;
        min-width: 55vw;
        padding: 0 30px;
    }

    .main__layout .main__top .backCard {
        position: absolute;
        top: 20%;
        right: -10%;
        width: 95%;
        transition: all 300ms ease;
    }

    .main__layout .main__top .frontCard {
        width: 95%;
        position: absolute;
        bottom: 30%;
        left: 3%;
        transition: all 300ms ease;
    }

    .main__layout .main__top .frontCard #cardNumber {
        position: absolute;
        left: 25px;
        bottom: 45px;
        color: aliceblue;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 22px;
        width: 100%;
    }
}

@media screen and (min-width:1024px) {
    .main__layout {
        display: flex;
        flex-direction: row;
    }

    .main__layout .main__top {
        min-height: 100vh;
        max-height: 100vh;
        min-width: 45vw;
    }

    .main__layout .main__bottom {
        min-height: 100vh;
        max-height: 100vh;
        min-width: 55vw;
        padding: 0 70px;
    }

    .main__layout .main__top .backCard {
        position: absolute;
        top: 20%;
        right: -10%;
        width: 75%;
        transition: all 300ms ease;
    }

    .main__layout .main__top .frontCard {
        width: 75%;
        position: absolute;
        bottom: 30%;
        left: 10%;
        transition: all 300ms ease;
    }

    .main__layout .main__top .frontCard #cardNumber {
        position: absolute;
        left: 35px;
        bottom: 45px;
        color: aliceblue;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 22px;
        width: 100%;
    }
}

@media screen and (min-width:1440px) {
    .main__layout {
        display: flex;
        flex-direction: row;
    }

    .main__layout .main__top {
        min-height: 100vh;
        max-height: 100vh;
        min-width: 45vw;
    }

    .main__layout .main__bottom {
        min-height: 100vh;
        max-height: 100vh;
        min-width: 55vw;
        padding: 0 100px;
    }

    .main__layout .main__top .backCard {
        position: absolute;
        top: 20%;
        right: -5%;
        width: 65%;
        transition: all 300ms ease;
    }

    .main__layout .main__top .frontCard {
        width: 65%;
        position: absolute;
        bottom: 30%;
        left: 10%;
        transition: all 300ms ease;
    }

    .main__layout .main__bottom form .form__bottom .bottom__inputs #cardCvv {
        width: 57%;
        margin-left: 10px;
        padding: 10px 7px;
        border-radius: 5px;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.233);
    }

    .main__layout .main__top .frontCard #cardNumber {
        position: absolute;
        left: 25px;
        bottom: 50px;
        color: aliceblue;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 30px;
        width: 100%;
    }

    .main__layout .main__top .frontCard #cardName {
        position: absolute;
        color: aliceblue;
        font-size: 17px;
        left: 15px;
        bottom: 20px;
    }

    .main__layout .main__top .frontCard #expDate {
        color: aliceblue;
        position: absolute;
        right: 15px;
        font-size: 17px;
        bottom: 20px;
        display: flex;
        
    }
    .main__layout .main__bottom form .form__bottom .bottom__inputs #cardCvv {
        width: 56%;
        margin-left: 10px;
        padding: 10px 7px;
        border-radius: 5px;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.233);
    }
}

@media screen and (max-width:1920px) {
    .main__layout {
        display: flex;
        flex-direction: row;
    }

    .main__layout .main__top {
        min-height: 100vh;
        max-height: 100vh;
        min-width: 45vw;
    }

    .main__layout .main__bottom {
        min-height: 100vh;
        max-height: 100vh;
        min-width: 55vw;
        padding: 0 100px;
    }

    .main__layout .main__top .backCard {
        position: absolute;
        top: 20%;
        right: -5%;
        width: 65%;
        transition: all 300ms ease;
    }

    .main__layout .main__top .frontCard {
        width: 65%;
        position: absolute;
        bottom: 30%;
        left: 10%;
        transition: all 300ms ease;
    }

    .main__layout .main__bottom form .form__bottom .bottom__inputs #cardCvv {
        width: 57%;
        margin-left: 10px;
        padding: 10px 7px;
        border-radius: 5px;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.233);
    }

    .main__layout .main__top .frontCard #cardNumber {
        position: absolute;
        left: 25px;
        bottom: 50px;
        color: aliceblue;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 30px;
        width: 100%;
    }

    .main__layout .main__top .frontCard #cardName {
        position: absolute;
        color: aliceblue;
        font-size: 17px;
        left: 15px;
        bottom: 20px;
    }

    .main__layout .main__top .frontCard #expDate {
        color: aliceblue;
        position: absolute;
        right: 15px;
        font-size: 17px;
        bottom: 20px;
        display: flex;
        
    }
    .main__layout .main__bottom form .form__bottom .bottom__inputs #cardCvv {
        width: 56%;
        margin-left: 10px;
        padding: 10px 7px;
        border-radius: 5px;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.233);
    }
}